.root{

	-fx-background-color : #EFEFEF;  
	-fx-padding : 10pt;
}
#canvas_pane{
	-fx-background-color :#FFFFFF;  
	/*-fx-background-color:  #FF00FF;*/
}



.scene {
	-fx-width : 300pt;
	-fx-height : 500pt; 
}

.button {  
	/*-fx-width : 30pt;
	-fx-height : 30pt; */
	-fx-background-color : #CCFFFF;  
} 