.root{

	-fx-background-color : #EFEFEF;  
	-fx-padding : 10pt;
}

.scene {
	-fx-width : 300pt;
	-fx-height : 500pt; 
}

.button {  
	/*-fx-width : 30pt;
	-fx-height : 30pt; */
	-fx-background-color : #CCFFFF;  
} 